<ion-header>
  <ion-toolbar>
       <ion-buttons slot="start">
		  <ion-menu-toggle auto-hide="true">
    <ion-icon class="menu-icon" (click)="toggleSidenav()" name="menu"></ion-icon>
  </ion-menu-toggle>
  
</ion-buttons>

      <ion-buttons slot="secondary">
        <section class="usrCntrol">
    <span><!---->
      <a class="colsep cright spright15 m_spright7 ">What we do?</a><!---->
      <a class="d_hlp spleft15 colsep cright spright15" routerlink="/help" href="/help">Help?</a>
    </span>
      <!---->
    <span><a class="colsep cright spright15 spleft15 m_spright7 m_smleft7 " tabindex="-1">Login</a>
      <a class="spleft15  m_spright7" tabindex="-1">Signup</a
    ></span>
    <span class=""><a class="mg mg_icomenu mnuicon gradbg7_bf " tabindex="-1"></a>
    </span
    ></section>
    </ion-buttons>
  </ion-toolbar>
</ion-header>