<ion-header class="globalHeader">
  <app-header title="Recharage-Bills"></app-header>
</ion-header>

<ion-content>
  <ion-card class="recharge-card">
    <ion-card-header>
      <ion-card-title class="recharge-header">Online Mobile Recharge</ion-card-title>
      <ion-card-subtitle class="subTitle">How it works?</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>

      <ion-grid class="recharge-grid">
        <ion-row>
          <ion-col>
            <div>
              <ion-item class="recharge-field">
                <ion-label fixed>Mobile Number</ion-label>
                <ion-input type="number" value=""></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item class="recharge-field">
                <ion-label fixed>Operator</ion-label>
                <ion-select value="Airtel" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="Airtel">Airtel</ion-select-option>
                  <ion-select-option value="Jio">Jio</ion-select-option>
                  <ion-select-option value="Idea">Idea</ion-select-option>
                  <ion-select-option value="Vodafone">Vodafone</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item class="recharge-field">
                <ion-label fixed>Circle</ion-label>
                <ion-select value="ap" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="ap">A.P</ion-select-option>
                  <ion-select-option value="ts">Telangana</ion-select-option>
                  <ion-select-option value="kerala">kerala</ion-select-option>
                  <ion-select-option value="tamilnadu">T.N</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col class="recharge-button">
            <ion-button class="action-button" size="small">GO</ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
