<ion-header class="globalHeader">
  <app-header title="Recharage-Bills"></app-header>
</ion-header>

<ion-content>
  <ion-card class="recharge-card">
    <ion-card-header>
      <ion-card-title class="recharge-header"
        >Online Mobile Recharge</ion-card-title
      >
      <ion-card-subtitle class="subTitle">How it works?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="recharge-grid">
        <ion-row>
          <ion-col>
            <div>
              <ion-item class="recharge-field">
                <ion-label fixed>Mobile Number</ion-label>
                <ion-input type="number" value=""></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item class="recharge-field">
                <ion-label fixed>Operator</ion-label>
                <ion-select value="Airtel" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="Airtel">Airtel</ion-select-option>
                  <ion-select-option value="Jio">Jio</ion-select-option>
                  <ion-select-option value="Idea">Idea</ion-select-option>
                  <ion-select-option value="Vodafone"
                    >Vodafone</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item class="recharge-field">
                <ion-label fixed>Circle</ion-label>
                <ion-select value="ap" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="ap">A.P</ion-select-option>
                  <ion-select-option value="ts">Telangana</ion-select-option>
                  <ion-select-option value="kerala">kerala</ion-select-option>
                  <ion-select-option value="tamilnadu">T.N</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col class="recharge-button">
            <ion-button class="action-button" size="small">GO</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div _ngcontent-vfq-c8="" class="accordionWrap">
    <h2 _ngcontent-vfq-c8="" class="fw600 ft17 mft13 headAccordion">
      How to Make Prepaid Mobile Recharge Online?
    </h2>
    <div _ngcontent-vfq-c8="" class="descAccordion">
      <p class="typoRuleseo ft13">
        Mobile phones are an intrinsic part of our lives and with association,
        so is online mobile recharge. Online recharge gives you the liberty to
        recharge your mobile phone number anytime and from anywhere - be it from
        your home, office, restaurant or vacation, all you need is an internet
        connection. When you think of easy online recharge options, MobiKwik is
        the best platform to turn to.
      </p>
      <p class="typoRuleseo ft13">
        You can now carry out your prepaid online recharge and bill payments for
        any number, for your friends and family using MobiKwik. Online recharges
        can be done through Net Banking, Debit Card, Credit Card, Visa or
        Mastercard and MobiKwik wallet. HDFC, SBI, CITI &amp; ICICI banks and a
        host of other banks support Net Banking online recharge with ease.
      </p>
      <p class="typoRuleseo ft13">
        The process of online recharge is also as simple as it sounds. All you
        have to do is :-
      </p>
      <ol class="typoRuleseo ft13">
        <li>
          Enter the phone number you want to carry out the online recharge for.
        </li>
        <li>Select the option from Prepaid/ Postpaid</li>
        <li>Select your mobile operator</li>
        <li>Select the circle you belong to.</li>
        <li>
          Check the online recharge plans designed exclusively for you or fill
          in the amount you want to recharge
        </li>
        <li>Enter your mobile number again and put the received OTP</li>
        <li>Make the online recharge payment and Voila!</li>
      </ol>
      <p class="ft13">Your online mobile recharge is all done.</p>
    </div>
  </div>
</ion-content>
