<ion-header class="globalHeader">
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-card class="recharge-card">
    <ion-card-header>
      <ion-card-title class="recharge-header"
        >Online Money Transfer</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="banktransfer-grid">
        <ion-row>
          <ion-col>
            <div>
              <ion-item class="banktrasfer-field">
                <ion-label fixed>Beneficiary Name</ion-label>
                <ion-input type="text" value=""></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item class="banktrasfer-field">
                <ion-label fixed>Account Number</ion-label>
                <ion-input type="text" value=""></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item class="banktrasfer-field">
                <ion-label fixed>IFSC Code</ion-label>
                <ion-input type="text" value=""></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item class="banktrasfer-field">
                <ion-label fixed>Amount</ion-label>
              </ion-item>
            </div>
          </ion-col>
          <ion-col class="banktransfer-button">
              <ion-button class="action-button" size="small">GO</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

<ion-text>
  <div class="mainText typoRuleseo">
    <h2>What is Money Transfer Online?</h2>
    <p>
      Online money transfers have now become a medium to save oneself from any
      cash shortage related problems. A long list of requirements and legal
      formalities is no longer needed since the money can be transferred online
      through a digital wallet without any hassle. Hence, transferring money
      online has become easier than before with
      <a href="https://mobikwik.com/">MobiKwik </a>. Just
      make instant money transfer with the 'Wallet to Bank' feature on MobiKwik,
      from credit cards to any bank account through MobiKwik's digital wallet.
      Now, transfer money from credit cards of ICICI, HDFC, Citibank, SBI, and
      more to any bank account, and the amount will reflect in the bank accounts
      instantly.
    </p>
    <h2>
      How to transfer money from debit/credit cards of any bank viz; ICICI,
      HDFC, Citibank, SBI and more to any bank accounts in three simple steps.
    </h2>
    <ol>
      <li>
        Add money to you digital wallet on the MobiKwik app using your credit or
        debit card.
      </li>
      <li>
        Tap on ‘Transfer money’ feature on the app. Find ‘wallet to bank’ in
        transfer money.
      </li>
      <li>
        Add beneficiary name, account number and IFSC code and click continue.
      </li>
    </ol>
    <p>
      The amount transferred will reflect in the bank account instantly.
    </p>
    <p>
      <span class="fw800">Please note:</span
      ><br />
      According to the RBI guidelines, the user must complete KYC to use the
      online money transfer service. However, KYC process on MobiKwik is rather
      simple and quick and can be done within minutes on the app itself.
    </p>
    <div class="infoBx spbottom30 sptop30">
      <div class="row">
        <div
        
          class="col-md-4 col-tb-12 m_spbottom30 tcenter"
        >
          <p class="ft20 fw700 step1 steps">Step 1</p>
          <img
          
            alt=""
            class="stepsImg"
            src="/assets/images/moneytransfer/imps1.png"
          />
          <p class="ft14">
            Tap on
            <strong class="fw700">'Transer Money'</strong>
            on the MobiKwik App
          </p>
        </div>
        <div
        
          class="col-md-4 col-tb-12 m_spbottom30 tcenter"
        >
          <p class="ft20 fw700">Step 2</p>
          <img
          
            alt=""
            class="stepsImg"
            src="/assets/images/moneytransfer/imps2.png"
          />
          <p class="ft14">
            Find
            <strong class="fw700"
              >'Wallet to Bank'</strong
            >
            in Transfer Money
          </p>
        </div>
        <div
        
          class="col-md-4 col-tb-12 m_spbottom30 tcenter"
        >
          <p class="ft20 fw700">Step 3</p>
          <img
          
            alt=""
            class="stepsImg"
            src="/assets/images/moneytransfer/imps3.png"
          />
          <p class="ft14 spright20">
            Add Beneficiary, Account Number and IFSC Code and select
            <strong class="fw700">'Continue'</strong>
          </p>
        </div>
      </div>
    </div>
    <h2>Factors to Consider for Money Transfer Online</h2>
    <p>
      While transferring money from card to bank one must consider the following
      factors before making the transactions:
    </p>
    <ul class="pleft pad30">
      <li>
        <strong>Secure platform - </strong>The platform
        that the user chooses to transfer their money should be 100% secure. On
        MobiKwik the user data is end to end encrypted hence making the data and
        transaction super safe.
      </li>
      <li>
        <strong>Charges involved - </strong>The charges
        for making a transfer from a credit card to a bank account varies from
        bank to bank. MobiKwik helps you complete the transactions in quick
        steps and with minimal extra charges.
      </li>
      <li>
        <strong>Correct beneficiary details - </strong>The
        user needs to make sure that the beneficiary's details are accurate such
        as account number, branch, etc. After entering the correct details the
        transaction is super quick with MobiKwik.
      </li>
      <li>
        <strong>Risk factors - </strong>Follow the do’s
        and don'ts of safe online banking practices shared by the bank. Don’t
        fall prey to any of the online banking scams and use MobiKwik for the
        secure credit card to bank transfers.
      </li>
    </ul>
    <h2>How Online Money Transfers Benefit you?</h2>
    <p>
      Everyone wants their money transfers to be quick and easy. Hence, to save
      on time and effort with the online money transfers MobiKwik ‘Wallet to
      Bank’ feature is the best solution. Here are some benefits to consider to
      do online fund transfer:
    </p>
    <ul class="pleft pad30">
      <li>
        <strong>Transfer to any bank account: </strong
        >MobiKwik's digital wallet makes the money transfers hassle-free, just
        transfer money from the credit cards of any bank to any bank account.
        For instance, Transfer money from your HSBC credit card by adding money
        to your wallet and transfer the amount added to the ICICI bank account.
      </li>
      <li>
        <strong>Minimum Charges - </strong>With bare
        minimum charges the money can be transferred from credit cards to any
        bank account instantly with the MobiKwik app
      </li>
      <li>
        <strong>KYC required: </strong>To maintain end to
        end secure transactions, KYC is mandatory. With MobiKwik it becomes easy
        to do KYC within minutes. It is done quickly on the app itself and the
        user need not go through any physical verification.
      </li>
    </ul>
    <h2>
      How to Transfer Money From Credit Card to Bank Account
    </h2>
    <p>
      With the
      <a
      
        href="https://play.google.com/store/apps/details?id=com.mobikwik_new&amp;hl=en_IN"
        >MobiKwik money transfer app
      </a>
      and website transferring money to a bank account has become a seamless
      procedure. To do an online money transfer just download the
      <a
      
        href="https://play.google.com/store/apps/details?id=com.mobikwik_new&amp;hl=en_IN"
      >
        android
      </a>
      &amp;
      <a
      
        href="https://apps.apple.com/in/app/mobikwik-recharge-bill-pay/id600002523"
        >ios mobile app </a
      >from the play store or log in to the website and follow the given steps:
    </p>
    <ul>
      <li>
        Add money to your digital wallet on the MobiKwik app using your credit
        card.
      </li>
      <li>
        Tap on the ‘Transfer money’ feature on the app. Find the ‘Wallet to
        Bank’ option in order to transfer money.
      </li>
      <li>
        Add a beneficiary name, account number, and IFSC code and that’s it
      </li>
    </ul>
      </div>
      </ion-text>
</ion-content>
